@import '../styles/_variables.module.scss';

%commonContainerStyles {
    display: grid;
    padding: 5px;
    border: 2px solid $secondaryColor1;
    border-radius: 5px;
    margin: 5px;
    overflow-y: auto;
}

%upRateDeRateCommonStyles {
    color: $secondaryColor1;
    background-color: $primaryColor;
    font-size: 15px;
    height: 80%;
    width: 80%;
    border: 2px solid $secondaryColor1;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin: 0px 5px;
    cursor: pointer;
}

%statBlockLableCargoCommonStyles {
    color: $secondaryColor2;
    font-size: 14px;
    align-self: center;
    justify-self: right;
    display: inline-block;
    text-align: right;
    margin: 0px 9px 0px 0px;
}

%statComponentButtonCommonStyles {
    color: $secondaryColor2;
    background-color: $primaryColor;
    font-size: 16px;
    height: 70%;
    border: 2px solid $secondaryColor1;
    border-radius: 10px;
    align-self: center;
    justify-self: left;
    margin: 0px 5px;
}

%statBlockAreaCommonStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $secondaryColor2;
    width: 100%;
    height: 50%;
}

%infoTitleWarningCommonStyles {
    color: $secondaryColor1;
    text-decoration: underline;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
}

%habitatPowerInfoLabelCommonStyles {
    font-size: 14px;
    color: $secondaryColor2;
    grid-row: span 1;
    justify-self: left;
    align-self: center;
    padding: 0px 0px 0px 6px;
}

%habitatPowerInfoValueCommonStyles {
    font-size: 14px;
    grid-row: span 1;
    grid-column: span 1;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $secondaryColor2;
    overflow-y: auto;
}

%commonTitleStyles {
    color: $secondaryColor2;
    margin: 3px 0px;
    grid-column: span 3;
    align-self: center;
    justify-self: left;
    font-size: 22px;
}

.titleCollapsed {
    @extend %commonTitleStyles;
}

.titleExpanded {
    @extend %commonTitleStyles;
}

.containerStyleExpanded {
    @extend %commonContainerStyles;
    grid-template-rows: 30px 80px 80px 42px 26px repeat(9, minmax(30px, 120px));
    grid-template-columns: repeat(15, 1fr);
    background-color: $primaryColor;
    grid-column: span 12;
    grid-row: span 11;
}

.containerStyleCollapsed {
    @extend %commonContainerStyles;
    grid-auto-rows: minmax(40px, 90px);
    grid-template-columns: repeat(8, 1fr);
    background-color: $primaryColor;
    grid-column: span 12;
    grid-row: span 11;
}

%topRow3CommonStyles {
    grid-column: span 3;
    padding: 4px;
    align-self: left;
    justify-self: left;
    width: 100%;
}

.topRow3Collapsed {
    @extend %topRow3CommonStyles;
    grid-column: 1 / span 8;
}

.topRow3Expanded {
    @extend %topRow3CommonStyles;
    grid-row-start: 2;
}

%topRow2CommonStyles {
    grid-column: span 2;
    padding: 4px;
    align-self: center;
    justify-self: center;
}

.topRow2Collapsed {
    @extend %topRow2CommonStyles;
    grid-column: span 4;
}

.topRow2Expanded {
    @extend %topRow2CommonStyles;
    grid-row-start: 3;
}

.label {
    color: $secondaryColor2;
    font-size: 20px;
    display: block;
}

%automationAndLifeSuppLabelCommonStyles {
    color: $secondaryColor2;
    font-size: 17px;
    display: block;
    margin: 6px 0px 0px 8px;
    align-self: center;
}

.lifeSuppLabel {
    @extend %automationAndLifeSuppLabelCommonStyles;
    grid-column: span 3;
}

.automationLabelCol1 {
    @extend %automationAndLifeSuppLabelCommonStyles;
    grid-column: 1 / span 4;
}

.automationLabelCol2 {
    @extend %automationAndLifeSuppLabelCommonStyles;
    grid-column: 5 / span 4;
}

.moduleLabel {
    color: $secondaryColor1;
    font-size: 20px;
    display: block;
}

.buildLabel {
    color: $secondaryColor2;
    font-size: 20px;
    align-self: center;
    justify-self: left;
    margin: 0px 0px 0px 5px;
}

.topRowTextArea {
    padding: 4px;
    width: auto;
    align-self: left;
    justify-self: left;
}

%topRowWarningCommonStyles {
    grid-row-start: 4;
    padding: 4px;
    align-self: left;
    justify-self: center;
    color: $secondaryColor1;
    font-size: 14px;
    border: 2px solid red;
    border-radius: 5px;
}

.topRowWarningCollapsed {
    @extend %topRowWarningCommonStyles;
    grid-column: span 8;
}

.topRowWarningExpanded {
    @extend %topRowWarningCommonStyles;
    grid-column: span 9;
}

.buildSelect {
    width: 100%;
    height: 20px;
}

.inputCheckbox {
    width: 20px;
    height: 20px;
}

.buildColCollapsed {
    grid-column-start: 1;
    grid-column: span 8;
}

// .buildRowCollapsed{}

.buildCol1 {
    grid-column-start: 1;
    grid-column: span 3;
}

.buildCol2 {
    grid-column-start: 4;
    grid-column: span 3;
}

.buildCol3 {
    grid-column-start: 7;
    grid-column: span 3;
}

.buildRow1 {
    grid-row-start: 5;
    grid-column: span 3;
}

.buildRow2 {
    grid-row-start: 6;
    grid-column: span 3;
}

.buildRow3 {
    grid-row-start: 7;
    grid-column: span 3;
}

.buildRow4 {
    grid-row-start: 8;
    grid-column: span 3;
}

.buildRow5 {
    grid-row-start: 9;
    grid-column: span 3;
}

.buildRow6 {
    grid-row-start: 10;
    grid-column: span 3;
}

.buildRow7 {
    grid-row-start: 11;
    grid-column: span 3;
}

.buildRow8 {
    grid-row-start: 12;
    grid-column: span 3;
}

.classNotesExpanded {
    grid-column: 1 / span 4;
    grid-row: 13 / span 1;
}

.classNotesCollapsed {
    grid-column: 1 / span 8;
    grid-row: span 2;
}

%notesAreaCommonStyles {
    width: 95%;
    margin: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}

.notesAreaExpanded {
    @extend %notesAreaCommonStyles;
    height: 100%;
}

.notesAreaCollapsed {
    @extend %notesAreaCommonStyles;
    height: 60%;
}

%cargoContainerCommonStyles {
    @extend %commonContainerStyles;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cargoContainerCollapsed {
    @extend %cargoContainerCommonStyles;
    grid-column: span 8;
    grid-row: span 2;
}

.cargoContainerExpanded {
    @extend %cargoContainerCommonStyles;
    grid-column: 5 / span 5;
    grid-row: 13 / span 3;
    grid-row-start: 13;
}

.statBlockLableUPressCargo {
    @extend %statBlockLableCargoCommonStyles;
    grid-column: 1 / span 1;
    padding: 0px 0px 10px 0px;
}

.statBlockLablePressCargo {
    @extend %statBlockLableCargoCommonStyles;
    grid-column: 5 / span 2;
}

.statBlockAreaUPressCargo {
    @extend %statBlockAreaCommonStyles;
    grid-column: 2 / span 2;
    height: 90%;
}

.statBlockAreaPressCargo {
    @extend %statBlockAreaCommonStyles;
    grid-column: 7 / span 2;
    height: 90%;
}

%statBlockContainer {
    @extend %commonContainerStyles;
    grid-template-columns: 3fr 2fr 3fr 2fr;
    grid-template-rows: repeat(20, 1fr);
}

.statBlockContainerCollapsed {
    @extend %statBlockContainer;
    grid-column: 1 / span 8;
    grid-row: span 16;
    grid-template-rows: repeat(32, 1fr);

}

.statBlockContainerExpanded {
    @extend %statBlockContainer;
    grid-column: 10 / span 6;
    grid-row: 4 / span 11;
}

%statComponentButtonContainerCommonStyles {
    display: flex;
    justify-content: space-between;
}

.statComponentButtonContainerCollapsed {
    @extend %statComponentButtonContainerCommonStyles;
    grid-column: 1 / span 8;
}

.statComponentButtonContainerExpanded {
    @extend %statComponentButtonContainerCommonStyles;
    grid-row: 3 / span 1;
    grid-column: 10 / span 6;
}

.statComponentButton {
    @extend %statComponentButtonCommonStyles;
}

%statTitleCommonStyles {
    color: $secondaryColor2;
    margin: 3px 0px;
    align-self: center;
    justify-self: center;
    font-size: 22px;
}

.statTitleExpanded {
    @extend %statTitleCommonStyles;
    grid-column: span 4;
}

.statTitleCollapsed {
    @extend %statTitleCommonStyles;
    grid-column: 1/ span 4;
    grid-row: 1 / span 1;
}

.statTitle5ColExpanded {
    @extend %statTitleCommonStyles;
    grid-column: span 5;
}

.habitatStatTitle {
    color: $secondaryColor2;
    margin: 3px 0px;
    grid-column: span 6;
    align-self: center;
    justify-self: center;
    font-size: 22px;
}

.statBlockLable {
    color: $secondaryColor2;
    font-size: 16px;
    align-self: center;
    justify-self: right;
    display: inline-block;
    text-align: right;
    margin: 0px 9px 0px 0px;
}

.statBlockArea {
    @extend %statBlockAreaCommonStyles;
}

.statBlockAreaLarge {
    @extend %statBlockAreaCommonStyles;
    grid-column: span 3;
    overflow-y: auto;
    margin: 3px 0px;
}

.moduleInfoSpan {
    color: $secondaryColor2;
    font-size: 13px;
    display: block;
    padding: 4px 0px;
}

.moduleInfoSpanTitle {
    color: $secondaryColor1;
    font-size: 13px;
    display: block;
    padding: 4px 0px;
    text-decoration: underline;
    cursor: pointer;
}

.infoTitle {
    color: $secondaryColor1;
    text-decoration: underline;
    cursor: pointer;
}

.infoTitleWarning {
    @extend %infoTitleWarningCommonStyles;
}

%habitatPowerContainerCommonStyles {
    @extend %commonContainerStyles;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto
}

.habitatPowerContainerCollapsed {
    @extend %habitatPowerContainerCommonStyles;
    grid-auto-rows: 40px 70px minmax(30px, 55px);
    grid-column: 1 / span 8;
    grid-row: span 13;
}

.habitatPowerContainerExpanded {
    @extend %habitatPowerContainerCommonStyles;
    grid-auto-rows: minmax(30px, 50px);
    grid-column: 10 / span 6;
    grid-row: 4 / span 12;
}

.infoTitleWarningPower {
    @extend %infoTitleWarningCommonStyles;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    padding: 3px;
    margin: 2px;
}

.habitatPowerInfoLabelCol1 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1;
}

.habitatPowerInfoLabelCol2 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3;
}

.habitatPowerInfoValueCol1 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 2;
}

.habitatPowerInfoValueCol2 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 4;
}

.deRateButton {
    @extend %upRateDeRateCommonStyles;
    grid-column: 3;
}

.upRateButton {
    @extend %upRateDeRateCommonStyles;
    grid-column: 4;
}

.habitatSubContainer {
    @extend %commonContainerStyles;
    grid-template-columns: 80px repeat(7, 1fr);
    grid-auto-rows: minmax(40px, 70px);
    grid-column: span 4;
    grid-row: span 19;
}

.habitatStatsSubContainer {
    @extend %commonContainerStyles;
    grid-template-columns: repeat(6, minmax(50px, 80px));
    grid-template-rows: 30px;
    grid-auto-rows: minmax(40px, 55px);
    grid-column: span 4;
    grid-row: span 11;
}

.habitatStatsLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
}

.habitatStatsValue {
    @extend %habitatPowerInfoValueCommonStyles;
}

.habitatInfoLabelCol1 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1;
}

.habitatInfoLabelCol1Seats {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1;
    grid-row: 2;
}

.habitatInfoLabelCol2 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 4;
}

.habitatInfoLabelCol2Crew {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3 / span 2;
}

.habitatInfoLabelCol2TotalLife {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3 / span 2;
}

.habitatInfoLabelCol2Cabins {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3;
}

.habitatInfoLabelCol3 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 6;
}

.habitatInfoLabelCol3Crew {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 6;
}

.habitatInfoLabelCol3Occupancy {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 6;
}

.habitatInfoValueCol1 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 2;
}

.habitatInfoValueCol1Seats {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 2;
    grid-row: 3
}

.totalLifeSupportLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 5;
}

.habitatInfoValueCol2 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 5;
}

.habitatInfoValueCol2Cabins {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 4 / span 2;
}

.habitatInfoValueCol3 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 7;
}

.habitatInfoValueCol3Crew {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 7 / span 2;
}

.habitatInfoValueCol3Occupancy {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 7 / span 2;
}

.habitatMinus100 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 2;
}

.habitatMinus10 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 3;
}

.habitatMinus1 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 4;
}

.habitatButton {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 5;
}

.habitatPlus1 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 6;
}

.habitatPlus10 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 7;
}

.habitatPlus100 {
    @extend %upRateDeRateCommonStyles;
    grid-column: 8;
}

%weaponStatsContainerCommonStyles {
    @extend %commonContainerStyles;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto
}

.weaponStatsContainerCollapsed {
    @extend %weaponStatsContainerCommonStyles;
    grid-auto-rows: minmax(30px, 60px);
    grid-column: 1 / span 4;
    grid-row: span 12;
}

.weaponStatsContainerExpanded {
    @extend %weaponStatsContainerCommonStyles;
    grid-auto-rows: minmax(30px, 50px);
    grid-column: span 6;
    grid-row: span 12;
}

.weaponLabelCol1 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1;
}

.weaponValueCol1 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 2;
}

.weaponLabelCol2 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3;
}

.weaponValueCol2 {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 4;
}

.freeFillWeaponLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
}

.freeFillWeaponLabelContainer {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-rows: minmax(20px, 40px);
    grid-template-columns: 1fr 1fr 1fr;
}

.freeFillWeaponLabel1 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1 / span 1
}

.freeFillWeaponLabel2 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 2 / span 1
}

.freeFillWeaponLabel3 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3 / span 1
}

.freeFillWeaponValue {
    @extend %habitatPowerInfoValueCommonStyles;
}

.weaponSelectLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1
}

.weaponSelect {
    @extend %habitatPowerInfoValueCommonStyles;
    grid-column: 2 / span 3;
}

.addWeaponButton {
    @extend %weaponNumberButtonCommonStyles;
    grid-column: 1 / span 4;
}

.addWeaponsNumberButtons {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
}

%weaponNumberButtonCommonStyles {
    color: $secondaryColor1;
    background-color: $primaryColor;
    font-size: 15px;
    border: 2px solid $secondaryColor1;
    border-radius: 10px;
    height: 80%;
    margin: 0px 10px;
    cursor: pointer;
}

.weaponNumberButtonMinusTen {
    @extend %weaponNumberButtonCommonStyles
}

.weaponNumberButtonMinusOne {
    @extend %weaponNumberButtonCommonStyles
}

.weaponNumberButtonOne {
    @extend %weaponNumberButtonCommonStyles
}

.weaponNumberButtonTen {
    @extend %weaponNumberButtonCommonStyles
}

.weaponNumberDisplay {
    font-size: 14px;
    width: 10%;
    height: 70%;
    background-color: $secondaryColor2;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 10px;
}

.weaponExplanation {
    @extend %statBlockLableCargoCommonStyles;
    grid-column: 1 / span 4;
}

.weaponInfoLabel1 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1 / span 1;
    color: $secondaryColor1;
}

.weaponInfoLabel2 {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 3 / span 1;
    color: $secondaryColor1;
}

.weaponInfoValue {
    @extend %habitatPowerInfoValueCommonStyles;
    background-color: $primaryColor;
    color: $secondaryColor2;
    font-size: 16px;
}

.weaponInfoContainer {
    @extend %commonContainerStyles;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(30px, 50px);
    grid-column: 1 / span 4;
    grid-row: span 3;
    overflow-y: auto
}

.weaponDeleteWarning {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: 1 / span 4;
    color: $secondaryColor2;
    padding: 2px 4px;
    justify-self: center;
    border: 2px solid red;
}

.featureInfoContainer {
    @extend %commonContainerStyles;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(30px, 50px);
    grid-column: 1 / span 4;
    grid-row: span 2;
    overflow-y: auto
}

.featureInfoValue {
    @extend %habitatPowerInfoValueCommonStyles;
    background-color: $primaryColor;
    color: $secondaryColor2;
    font-size: 24px;
    overflow: hidden;
}

.customizationTitleExpanded {
    @extend %commonTitleStyles;
    grid-column: span 4;
}

.customizationTitleCollapsed {
    @extend %commonTitleStyles;
    grid-column: span 4;
}

.customizationComponentButtonContainerExpanded {
    @extend %statComponentButtonContainerCommonStyles;
    grid-column: span 4;

}

.customizationComponentButtonContainerCollapsed {
    @extend %statComponentButtonContainerCommonStyles;
    grid-column: span 4;

}

.engineCustomizationContainer {
    @extend %commonContainerStyles;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 70px;
    grid-column: span 4;
    grid-row: span 22;
    overflow-y: auto
}

.engineCustomizationLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
    color: $secondaryColor1;
}

.engineCustomizationLabelFuel {
    @extend %habitatPowerInfoLabelCommonStyles;
    color: $secondaryColor1;
    grid-column: 1 / span 6;
}

.engineCustomizationValue {
    @extend %habitatPowerInfoLabelCommonStyles;
    grid-column: span 2;
}

.engineCustomizationCheckLabel {
    @extend %automationAndLifeSuppLabelCommonStyles;
    font-size: 14px;
    grid-column: span 3;
    border-top: 1px solid $secondaryColor1
}

.engineCustomizationCheckLabelFuel {
    @extend %automationAndLifeSuppLabelCommonStyles;
    font-size: 14px;
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-top: 1px solid $secondaryColor1
}

%engineCustomizationSubContainerCommonStyles {
    @extend %commonContainerStyles;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(40px, 70px);
    grid-column: 1 / span 6;
}

.engineCustomizationSubContainer3to4Options {
    @extend %engineCustomizationSubContainerCommonStyles;
    grid-row: span 5;
}

.engineCustomizationSubContainer9Options {
    @extend %engineCustomizationSubContainerCommonStyles;
    grid-row: span 6;
}

.engineCustomizationSubContainerNoOptions {
    @extend %engineCustomizationSubContainerCommonStyles;
    grid-row: span 3;
}

.engineCustomizationSubContainer1to2Options {
    @extend %engineCustomizationSubContainerCommonStyles;
    grid-row: span 4;
}

.engineCustomizationSubContainerEngineAccelDelta {
    @extend %engineCustomizationSubContainerCommonStyles;
    grid-row: span 3;
}

.fuelTankSelect {
    justify-self: center;
    align-self: center;
    height: 70%;
    grid-column: span 4;
}

.engineCustomizationCheckbox {
    grid-column: 4;
    width: 20px;
    height: 20px;
}

.fuelCustomizationLabel {
    @extend %habitatPowerInfoLabelCommonStyles;
    color: $secondaryColor2;
    grid-column: span 3;
}

.engineExplanation {
    @extend %statBlockLableCargoCommonStyles;
    grid-column: 1 / span 6;
}